a{
    color: black;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}


a:active{
    color: black;
}

a:hover{
    color: black;
}


#franta-paris{
    margin: 2%;
    margin-bottom: 10%;    
}

#franta-paris-desc{
    text-indent: 3%;
}

#franta-paris-img{
    max-width: 300px;
    height: auto;
    float: right;
    margin-left: 2%;
}

